<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CodeTest Application{% endblock %}</title>
</head>
<body>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>